<html>
<title>Creating Team Lineup
</title>
<body>
<h1>Creating <%= @team.name%> lineup</h1>

<%= form_for :lineup do |f| %>


<%= f.label :system %><br>  
<%= f.select( :system, [["4-4-2",1], ["4-3-3",2],["4-5-1",3],["3-4-3",4], ["3-5-2",5],["3-6-1",6],["6-3-1",7]]) %><br>
<DIV ALIGN='CENTER'><%= f.label :keeper %>
<%= f.select :keeper, @team.players.where("position='POR'").map { |l| [l.shirt, l.id] } %></DIV>
<TABLE align='center'><tr><td>
<%= f.label :defense1 %>
<%= f.select :defense1, @team.players.where("position='DEF'").map { |l| [l.shirt, l.id] } %>
</td><td><%= f.label :defense2 %>
<%= f.select :defense2, @team.players.where("position='DEF'").map { |l| [l.shirt, l.id] } %>
</td><td><%= f.label :defense3 %>
<%= f.select :defense3, @team.players.where("position='DEF'").map { |l| [l.shirt, l.id] } %>
</td><td><%= f.label :defense4 %>
<%= f.select :defense4, @team.players.where("position='DEF'").map { |l| [l.shirt, l.id] } %>
</td></tr>
<tr><td>
<%= f.label :midfield1 %>
<%= f.select :midfield1, @team.players.where("position='MED'").map { |l| [l.shirt, l.id] } %>
</td><td><%= f.label :midfield2 %>
<%= f.select :midfield2, @team.players.where("position='MED'").map { |l| [l.shirt, l.id] } %>
</td><td><%= f.label :midfield3 %>
<%= f.select :midfield3, @team.players.where("position='MED'").map { |l| [l.shirt, l.id] } %>
</td><td><%= f.label :midfield4 %>
<%= f.select :midfield4, @team.players.where("position='MED'").map { |l| [l.shirt, l.id] } %>
</td></tr>
<tr><td></td><td>
<%= f.label :striker1 %>
<%= f.select :striker1, @team.players.where("position='DEL'").map { |l| [l.shirt, l.id] } %>
</td><td><%= f.label :striker2 %>
<%= f.select :striker2, @team.players.where("position='DEL'").map { |l| [l.shirt, l.id] } %>
</td><td></td></tr>
</table>      
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</body>
</html>
