<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<h1>TEAMS LIST</h1>
<table>
  <tr>
  <th>Team
  </th>
  <th>Value Team
  </th>
  <th>Number Players
  </th>
  </tr>
  <% @league.teams.each do |team| %>
  <td><%= team.name %>
  </td>
  <td><%= team.players.sum('value') %>
  </td>
  <td>
  <td><%= team.team_players.count %>
  </td>
  </tr>
    <% end %>
  </table>
<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', league_path %> |
<br><br><br><br>


<p><b> Do a comment! </b></p>
<hr> 

<%= render :template => 'posts/_form'%>