<h1><%= @team.name%> lineup</h1>
<p> System: 4-4-2 </p>
<%= @team.name %>

<ul class="lineup">
  <li>
    <ul class="goalkeeper">
      <li class="header"><strong>Goalkeeper</strong></li>
      <li>
        <%= @lineup.goalkeeper.shirt %>
      </li>
    </ul>
  </li>
  <li>
    <ul class="defense">
      <li class="header"><strong>Defenses</strong></li>
      <% @lineup.defense.each do |player| %>
        <li><%= player.shirt %></li>
      <% end %>
    </ul>
  </li>
  <li>
    <ul class="midfield">
      <li class="header"><strong>Midfields</strong></li>
      <% @lineup.midfield.each do |player| %>
        <li><%= player.shirt %></li>
      <% end %>
    </ul>
  </li>
  <li>
    <ul class="striker">
      <li class="header"><strong>Strikers</strong></li>
      <% @lineup.striker.each do |player| %>
        <li><%= player.shirt %></li>
      <% end %>
    </ul>
  </li>
</ul>
