<html>
<title>Team Line up
</title>
<body>
<%  @team = Team.find(params[:id]) %>
<h1><%= @team.name%> lineup</h1>
<p> System: 4-4-2 </p>
<%= @team.name %>

<table border="2">
  <tr>
    <td colspan="4">
      <% @team.players.each do |player| %>
      <%    if player.position == 'POR' %>
      <%=      player.shirt %>
      <%   end %>
      <%   end %>
    </td>
  </tr>
  <tr>
      <% @team.players.each do |player| %>
      <%    if player.position =='DEF' %>
      <td><%=      player.shirt %></td>
      <%   end %>
      <%   end %>
  </tr>
  <tr>
      <% @team.players.each do |player| %>
      <%    if player.position == 'MED' %>
      <td><%=      player.shirt %></td>
      <%   end %>
      <%   end %>
  </tr>
  <tr>
      <% @team.players.each do |player| %>
      <%    if player.position == 'DEL' %>
      <td><%=      player.shirt %></td>
      <%   end %>
      <%   end %>
  </tr>

</table>
</body>
</html>

