<h1>Users</h1>

<%= link_to 'Create new user', new_user_path %>

<ul class="users">
  <% @users.each do |user| %>
    <li><%= user.name %></li>
    <li><%= user.surname %></li>
    <li><%= user.idcard %></li>
    <li><%= user.nickname %></li>
    <li><%= user.email %></li>
    <li><%= user.phone %></li>
    <li><%= user.postalcode %></li>
    <li><%= user.password %></li>
    <li><%= user.alerts %></li>
  <% end %>
</ul>
