<html>
<title>Matches of X. Match Day
</title>
<body>
<h1>Matches</h1>
  <% @home_rounds = [] %>
  <% @away_rounds = [] %>
<p> Nº de equipos: <%= @equipos=@league.teams.count %></p>
<p> Nº de jornadas: <%= @jornadas = ((@league.teams.count)-1)*2 %>
<p> Nº de partidos: <%= @partidos = ((@league.teams.count)-2)+1 %>
<% @equipos = @league.teams %>
 <% @jornadas.times do %>
 <% matches_home=[] %>
 <% matches_away=[] %>

 <% @partidos.times do |index| %>
 <% team1=  @teams[index] %>
 <% team2=  @teams[@jornadas-index] %>

 <% @home_rounds << [team1,team2] %>
 <% @away_rounds << [team2,team1] %>
 <% end %>
 <% last = @equipos.pop %>
 <% @equipos.unshift(last) %>
 <% end %>

  <% i = 1 %>
  <% (1..@jornadas).each do |round|%>
  <%= "Round: #{i}" %>
  <% (1..round).each do |match| %>
  <%= "Match: #{match[0]} - #{match[1]}" %>
  <%  end %><br>
  <%  i += 1 %>
  <%end %>
  

</body>
</html>