<html>
<title>Matches of X. Match Day
</title>
<body>
<h1>Matches</h1>
<p> Nº de equipos: <%= @equipos=@league.teams.count %></p>
<p> Nº de jornadas: <%= @jornada = ((@league.teams.count)-1)*2 %>
 <%= (1..@jornada).each do |j| %>
 <p>Jornada: <%= j %> </p>
  
  <table>
  <thead>
    <tr>
      <th>Team Home</th>
      <th></th>
      <th>Team Away</th>
      <th></th>
      <th></th>
      <th>Results</th>
    </tr>
  </thead>

  <tbody>
    <%= (1..@equipos-1).each do |i| %>
      <tr>
        <td><%= @league.teams.find(i).name %></td>
        <td> - </td>
        <td><%= @league.teams.find(i+1).name %></td>
        <td></td>
        <td></td>
        <td>0 - 0</td>
      </tr>
      <% end %>
  </tbody>
</table>
<% end %>

</body>
</html>