<h1>Welcome to MyTeam</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt sit amet magna id consectetur. In posuere vehicula suscipit. Etiam bibendum sagittis odio, vel vestibulum diam placerat eget. Nulla faucibus lacus a enim pulvinar dignissim. Integer a mauris vulputate, pretium quam in, imperdiet nisi. Nulla a velit turpis. Nullam sed malesuada urna, eu consequat orci. In faucibus risus quis nunc varius consectetur. Aliquam mattis, tortor a mattis imperdiet, nulla lacus hendrerit elit, quis accumsan massa magna ac magna. Phasellus vehicula, massa non cursus porttitor, quam tellus ultrices eros, nec pharetra nisi justo vitae lectus. Sed vel odio metus. Sed ac gravida sapien, vel hendrerit ligula. Morbi id ipsum condimentum, blandit lacus id, tempus ipsum. Quisque porta feugiat orci, a blandit orci. Morbi interdum nibh eleifend consectetur tristique.</p>

<center><P><b> STATISTICS </b></P></center>
<hr>
<br>
<table>
	<tr>
		<td><b>Total Users:</b> </td>
		<td><%= User.all.count %></td>
	</tr>
	<tr>
		<td><b>Total Teams:</b> </td>
		<td><%= Team.all.count %></td>
	</tr>
	<tr>
		<td><b>Total Leagues:</b> </td>
		<td><%= League.all.count %></td>
	</tr>
	<tr>
		<td><b>Total Players:</b> </td>
		<td><%= Player.all.count %></td>
	</tr>
	<tr>
		<td><b>Total Posts:</b> </td>
		<td><%= Post.all.count %></td>
	</tr>
</table>
<br><br>
<table align='center'>
	<tr><td width='350' align='center'>
<P><b>TOP 5 MOST VALUED PLAYERS</b></P>
<table border='1' align='center'>
	<tr align='center'><td><u>PLAYER</u></td><td align='center'><u>VALUE</u></td></font>
	</tr>
	<tr>
		<% Player.order('value DESC').limit(5).each do |p| %>
		<td width='200'>
		<b><%= p.shirt %></b>
		</td>
		<td align='right'>
		<%= p.value %>	
		</td>
	</tr>
		<% end %>
</table>
</td><td width='350' align='center'>
<P><B>TOP 5 MORE PUNCTUATED PLAYERS</B> </P>
<table border='1' align='center'>
	<tr align='center'><td><u>PLAYER</u></td><td align='center'><u>POINTS</u></td></font>
	</tr>
	<tr>
		<% Player.order('value').limit(5).each do |p| %>
		<td width='200'><b>
		<%= p.shirt %>
		</b></td>
		<td align='right'>
		<%= p.value %>	
		</td>
	</tr>
		<% end %>
</table>
</td>
<td width='350' align='center'>
<P><B>TOP 5 MOST USED PLAYERS</B> </P>

<table border='1' align='center'>
	<tr align='center'><td><u>PLAYER</u></td><td align='center'><u>TIMES</u></td></font>
	</tr>
	<tr>
		<% @groups = TeamPlayer.count(:group=>:player_id, :order => 'count_all DESC', :limit => 5) %>
		<% @groups.each do |player_id,count| %>
		<td width='200'><b>
		<%= Player.find(player_id).shirt %>
		</b></td>
		<td align='right'>
		<%= count %>	
		</td>
	</tr>
		<% end %>
</table>
</td>
</tr></table>
