
<% if user_signed_in? %>
 <% if current_user.admin? %>
 				<h3 align="center">ADMINISTRATOR MENU</H3>
                <table align = "center">
                	
                	<tr><td><a href="/players">1. MANAGE PLAYERS</a> </td></tr>
                	<tr><td><a href="/teams">2. MANAGE TEAMS</a> </td></tr>
                	<tr><td><a href="/leagues">3. MANAGE LEAGUES</a> </td></tr>
                	<tr><td><a href="/users">4. MANAGE USERS</a> </td></tr>
                	
                </table>
 <br><br>
 <% end %>
 <% end %>

<h1>Welcome to MyTeam !!</h1>

<center><P><b> STATISTICS </b></P></center>
<hr>
<br>
<table>
	<tr>
		<td><b>Total Users:</b> </td>
		<td><%= User.all.count %></td>
	</tr>
	<tr>
		<td><b>Total Teams:</b> </td>
		<td><%= Team.all.count %></td>
	</tr>
	<tr>
		<td><b>Total Leagues:</b> </td>
		<td><%= League.all.count %></td>
	</tr>
	<tr>
		<td><b>Total Players:</b> </td>
		<td><%= Player.all.count %></td>
	</tr>
	<tr>
		<td><b>Total Posts:</b> </td>
		<td><%= Post.all.count %></td>
	</tr>
</table>
<br><br>
<table align='center'>
	<tr><td width='350' align='center'>
<P><b>TOP 5 MOST VALUED PLAYERS</b></P>
<table border='1' align='center'>
	<tr align='center'><td><u>PLAYER</u></td><td align='center'><u>VALUE</u></td></font>
	</tr>
	<tr>
		<% Player.order('value DESC').limit(5).each do |p| %>
		<td width='200'>
		<b><%= p.shirt %></b>
		</td>
		<td align='right'>
		<%= p.value %>	
		</td>
	</tr>
		<% end %>
</table>
</td><td width='350' align='center'>
<P><B>TOP 5 MORE PUNCTUATED PLAYERS IN ONE MATCH DAY</B> </P>
<table border='1' align='center'>
	<tr align='center'><td><u>PLAYER</u></td><td align='center'><u>POINTS</u></td></font>
	</tr>
	<tr>
		<% PlayerPoints.order('points DESC').limit(5).each do |p| %>
		<td width='200'><b>
		<%= Player.find(p.player_id).shirt %>
		</b></td>
		<td align='right'>
		<%= p.points %>	
		</td>
	</tr>
		<% end %>
</table>
</td>
<td width='350' align='center'>
<P><B>TOP 5 MOST USED PLAYERS</B> </P>

<table border='1' align='center'>
	<tr align='center'><td><u>PLAYER</u></td><td align='center'><u>TIMES</u></td></font>
	</tr>
	<tr>
		<% @groups = TeamPlayer.count(:group=>:player_id, :order => 'count_all DESC', :limit => 5) %>
		<% @groups.each do |player_id,count| %>
		<td width='200'><b>
		<%= Player.find(player_id).shirt %>
		</b></td>
		<td align='right'>
		<%= count %>	
		</td>
	</tr>
		<% end %>
</table>
</td>
</tr></table>
