<h1>Matchs Day List</h1>
<hr>

<table class="table table-striped">
	<thead>
    <tr>
      <th>NUMBER</th>
      <th>WEEKEND DATE</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    
    	 <% @match_days.each do |match_day| %>
    		<tr><td><%= link_to "Match day #{match_day.number}", league_match_day_path(@league, match_day) %></td>
    			<td><%= match_day.weekend_date %></td>
    		<td><%= link_to "See table scores", league_match_day_path(@league, match_day) %></td>
          	</tr>
  		 <% end %>
    
  </tbody>


</table>
<%= link_to t('.back', :default => t("helpers.links.back")),
                      league_path(@league), :actions=> 'show' ,:params => 'league.id' ,:class =>'btn btn-mini'
                      %>
<% if current_user.admin? %>          
<%= link_to t('Add match days', :default => t("helpers.links.new")),
            new_league_match_day_path(@league),
            :class => 'btn btn-primary' %>
<%end%>
