<h1>Match Day <%= @match_day.number %></h1>


<%- model_class = MatchDay -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:team) %></th>
      <th><%= model_class.human_attribute_name(:points) %></th>
    </tr>
  </thead>
  <tbody>
    <% @table = @match_day.league.teams %>
    <% @table.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= @team_points[team.id] %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<%= link_to t('.back', :default => t("helpers.links.back")),
                      league_path(@league), :actions=> 'show' ,:params => 'league.id' ,:class =>'btn btn-mini'
                      %>
<% if current_user.admin? %>
  <%= link_to t('.Manage match day points'),  league_points_path(@match_day.league, @match_day) , :class =>'btn btn-mini' %>
<%end%>